src/generated/** linguist-generated=true
packages/react-native-whip-ssh/src/generated/** linguist-generated=true
packages/react-native-whip-ssh/cpp/generated/** linguist-generated=true
packages/react-native-whip-ssh/ios/generated/** linguist-generated=true
packages/react-native-whip-ssh/android/generated/** linguist-generated=true
assets/licenses/generated/** linguist-generated=true
src/licenses/generated.ts linguist-generated=true
packages/react-native-whip-ssh/src/NativeWhipSsh.ts linguist-generated=true
packages/react-native-whip-ssh/src/generated-entry.tsx linguist-generated=true
feedback-worker/worker-configuration.d.ts linguist-generated=true
